* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7ede9;
  font-family: "Times New Roman", sans-serif;
  display: grid;
}

.imgMain {
  width: 100%;
}

.logo {
  width: 30%;
  transform: translate(118%);
  margin-top: 30px;
}

.logo3 {
  width: 90%;
  transform: translate(8%);
  margin-top: 20px;
}

header {
  grid-column: 1/2;
  grid-row: 1;
}

section {
  display: grid;
}

h1 {
  grid-column: 2/12;
  font-family: "Times New Roman", sans-serif;
  font-size: 2.5em;
  margin-top: 10px;
  color: #443728;
  text-align: center;
}

h2 {
  grid-column: 2/12;
  font-family: "Times New Roman", sans-serif;
  font-size: 2em;
  margin-top: 10px;
  color: #443728;
  text-align: center;
  margin-bottom: 40px;
}

label {
  grid-column: 2/12;
  font-size: 1.5em;
  margin-top: 8px;
  margin-bottom: 10px;
  color: #443728;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

input {
  grid-column: 2/12;
  border-radius: 5px;
  height: 4vh;
  background-color: rgba(251, 253, 253, 0.709);
  width: 300px;
  text-align: center;
  margin-left: 40px;
  color: #443728;
  font-size: 1.3em;
  font-family: "Times New Roman", sans-serif;
}

input::placeholder {
  color: rgb(179, 176, 176);
}
p {
  grid-column: 4/10;
  font-size: 1.8em;
  color: #443728;
  text-align: justify;
  margin: 30px 15px 15px 30px;
  font-style: italic;
}

.buttonsPrincipals {
  width: 200px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgb(248, 248, 248);
  box-shadow: 0px 0px 5px 0px orangered;
  background-color: rgba(251, 253, 253, 0.709);
  margin: 30px 10px 10px 100px;
  font-size: 1.3em;
  color: #443728;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('Font/Roboto-Medium.ttf') format('ttf'),
       
}

.googleSignIn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  background-color: white;
  width: 18rem;
  height: 2.75rem;
  font-family: 'Roboto', sans-serif;
  border: solid 0.0625rem;
  border-color: white;
  color: #000;
  border-radius: 2%;
  letter-spacing: 0.0625rem;
}


.GoogleIcon {
  width: 30px;
}

/* Tablets, Ipads (portrait)
@media (min-width: 768px) and (max-width: 1024px) { */

/* Inicio Laptops, Desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #f7ede9;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .imgMain {
    width: 50%;
    flex-direction: column;
    height: 500px;
    display: flex;
    float: left;
    margin-top: 100px;
  }

  .logo {
    width: 15%;
    transform: translate(115%);
    margin-top: 100px;
  }

  .logo3 {
    width: 500px;
    transform: translate(15%);
    margin-top: 80px;
  }

  header {
    display: flex;
  }

  section {
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  h1 {
    grid-column: 2/12;
    font-family: "Times New Roman", sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
    color: #443728;
    text-align: center;
  }

  h2 {
    grid-column: 2/12;
    font-family: "Times New Roman", sans-serif;
    font-size: 2em;
    margin-top: 5px;
    color: #443728;
    text-align: center;
    margin-bottom: 10px;
  }
  .buttonsPrincipals {
    width: 200px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: 0px 0px 5px 0px orangered;
    background-color: rgba(251, 253, 253, 0.709);
    margin: 30px 5px px 300px;
    font-size: 1.3em;
    color: #443728;
  }

  label {
    grid-column: 2/12;
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #443728;
    text-align: left;
    margin-left: 100px;
    font-weight: bold;
    font-style: italic;
  }

  input {
    border-radius: 5px;
    height: 4vh;
    background-color: rgba(251, 253, 253, 0.709);
    width: 300px;
    text-align: left;
    padding: 4px;
    margin-left: 100px;
    color: #443728;
    font-size: 1.3em;
    font-family: "Times New Roman", sans-serif;
  }

  input::placeholder {
    color: rgb(179, 176, 176);
  }
}
